html, body {
    margin: 0, auto;
    padding: 1em;
    font-family: monospace;
    font-size: 1.2em;
}
nav {
    font-sixe:0.8em;
    word-wrap: auto;
}
a {
    color: #b91;
}
pre {
    font-size: 0.5em;
    line-height: 2em;
}
button {
    background-color: yellow;
    color: red;
}
.footer {
    font-size: 0.5em;
    line-height: 2em;
}
.linkbox {
    background-color: white;
    color: pink;
}
@media (prefers-color-scheme: dark) {
  html,body,pre,footer {
    background-color: #000;
    color: #fff;
  }
}
